.container{
    width: 823px;
    height: 600px;
}

input{
    font-size: 12px;
}
h2{
    margin: 0;
}
h3{
    margin: 0;
}


.layer-a{
    float: left;
}

.layer-a{
    margin-top: 10px;
    width: 400px;
    box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 3px;
    
}

.layer-1-a{
    border:1px solid rgba(238, 238, 238, 0.5);
    margin-bottom: 20px;
    padding-bottom: 10px;
}


.layer-1-a ul{
    padding-left: 20px;
    margin: 0;
    
}


.layer-2-a{
    /* border: solid 1px black;
    border-radius: 10px; */
    border:1px solid rgba(238, 238, 238, 0.5);
    background-color: rgb(255, 255, 255);
}

.layer-3-a ul{
    padding-left: 20px;
    margin-bottom: 10px;
    
}

.layer-3-a{
    border:1px solid rgba(238, 238, 238, 0.5);
    background-color: rgb(255, 255, 255);
    
}

.layer-4-a{
    border:1px solid rgba(238, 238, 238, 0.5);
    background-color: rgb(255, 255, 255);
}





.layer-b{
    margin-left: 3px;
    float: right;
}
.layer-b{
    width: 380px;
    box-shadow:rgba(0, 0, 0, 0.3) 1px 1px 3px;
    margin-top: 10px;
    
}

.layer-3-b{
    margin-bottom: 20px;
    border:1px solid #EEE;
    box-shadow:rgba(0, 0, 0, 0.1) 1px 1px 1px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
}

.layer-3-b ul{
    padding-left: 10px;
}

.layer-4-b{
    /* border: solid 1px black;
    border-radius: 10px; */
    margin: 10px 0;
    padding: 10px;
    border:1px solid #EEE;
    border-radius: 8px;
    box-shadow:rgba(0, 0, 0, 0.05) 1px 1px 1px;
    background-color: rgb(255, 255, 255);
}

.layer-4-b ul{
    padding-left: 10px;
}

.layer-5{
    margin-top: 10px;
    padding: 5px;
    box-shadow:rgba(0, 0, 0, 0.2) 0px 0px 1px;
    background-color: rgb(255, 255, 255);
}

.text-5{
    width: 100%;
}

.layer-5 ul{
    padding-left: 20px;
}

.layer-6{
    margin-top: 10px;
    padding: 5px;
    box-shadow:rgba(0, 0, 0, 0.2) 0px 0px 1px;
    background-color: rgb(255, 255, 255);
}