.container {
    width: 500px;
    margin: 100px auto;
}
input {
    width: 300px;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
}
.remove {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 15px;
}
#addRow, #getValues {
    width: 130px;
    height: 40px;
    font-size: 16px;
    background-color: lightseagreen;
    color: white;
    border: none;
    margin: 20px;
}
button:hover {
    cursor: pointer;
}
tr:hover {
    cursor: move;
}
