.item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    border: solid 1px black;
    border-radius: 4px;
    width: 200px;
    height: 40px;
    text-align: center;
  }
textarea{
    resize: none;
    height: auto;
}


.sortable-chosen {
    color: #fff;
    background-color: #edb54c;
}

#div802{
    width: 200px;
    height: 200px;
    border: solid 1px black;
    border-radius: 4px;
}
#div802-edit{
    width: 200px;
    height: 20px;
    border: solid 1px black;
    border-radius: 4px;
}