#title-container {
    float: right;
    text-align: center;
}

h1{
    float: left;
    margin: 30px 50px 30px 0px;
}

#title {
    width: 400px;
    height: 40px;
    text-align: center;
    margin: 30px 60px 30px 0px;
    font-size: 24px;
}

/* ------------- */

#maine {
    width: 1200px;
}


.main-img {
    float: right;
    background-repeat: no-repeat;
    width: 900px;
    height: auto;
}

#sticky-note-container {
    float: left;
    width: 100px;
    padding-left: 5%;
    height: 400px;
    border: 1px;
}

/* ------------- */

.note {
    background-color: rgb(226, 226, 226);
    padding: 3px;
    width: 200px;
    height: 120px;
    cursor: pointer;
}

.note > input[type="text"] {
    width: 95%;
    height: auto;
}

textarea {
    height: 70%;
    width: 95%;
}

#add-button {
    font-size: 18px;
}

/* .color-button {
    margin: 0px;
}
.delete-button {
    margin: 0px;
} */



/* table */
table{
    height: 600px;
}
th {
    position: relative;
}
th p{
    position: absolute;
	right: 15px;
    bottom: 10px;
    margin: 0px;
    display: none;
}
table th{
    width: 186px;
    border: 1px solid black;
    border-radius: 10px;
}

.text-active{
    display:block;
  }



