<!DOCTYPE html>
<html>

<head>
  <meta charset="utf8">
  <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="../../../NB-IDE/static/NB-IDE/css/stylesheet.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <title>NB-IDE</title>
</head>

<body>
  <!--header ロゴ・App名・会社名など -->
  <header>
    <div class="container header-a">
      <div class="header-left">
        <a href="＃">NB-IDE</a>

      </div>
      <div class="header-right">
        <input class="signup" type="button" value="ログイン">
        <input class="#" type="button" value="アカウント登録">
      </div>
    </div>
  </header>

  <!-- モーダル -->
    <div class="login-modal">
      <section class="top">
        <h1>ログイン</h1>
        <p><input type="text" name="uid" size="40" maxlength="16" placeholder="ログインID" class="login_text"></p>
        <p><input type="text" name="uid" size="40" maxlength="16" placeholder="パスワード" class="login_text"></p>
        <button><a href="home.html">ログイン</a></button>
      </section>
    </div>

  <!-- top-wrapper サービス紹介説明 -->
  <div class="top-wrapper">
    <div class="container">
      <div class="title">
        <h1>NB-IDE</h1>
        <div id="sub-title">
          <h2>New Business Integrated Development Environment</h2>
          <h2 class="japanese-text">新規事業統合開発環境</h2>
        </div>
        <div class="btn-wrapper">
          <a href="#" class="btn signup">新規登録はこちら</a>
          <p>or sign up with</p>
          <a href="#" class="btn facebook">
            <span class="fa fa-facebook"></span>
            Facebookで登録
          </a>
          <a href="#" class="btn twitter">
            Twitterで登録
            <span class="fa fa-twitter"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- main -->
  <main>
    <div class="container">
      <!-- サービスの特徴 -->
      <div id="NB-IDE">
        <h1>進捗状況の可視化＆管理</h1>
        <p>小さなプロジェクト、スタートアップなど、数人〜数十人のプロジェクトを１つの<br>
          Webページで共有・管理することができます。
        </p>
      </div>

      <!-- appsについて -->
      <div class="section-0">
        <h1>apps</h1>
        <p>NB-IDEには新規事業開発のためのappが複数用意されています。<br>
          これらのappから好きなものを選び、拡張機能としてカスタマイズできます。
        </p>
      </div>

      <!-- task-app -->
      <div class="section">
        <h2>TASK app</h2>
        <p>
          マクロからミクロまで把握し、自身の行うタスクの目的を常に明確なものにする。<br>
          １つ１つのタスクの関係性や仲間との連携を図る。
        </p>
        <div class="button-wrapper">
          <input class="btn demo" type="button" value="デモ" onClick="location.href='../task-app ver2/index.html'">
          <input class="btn install" type="button" value="インストール">
        </div>
        <p class="accordion article-title"></p>
        <div class="explanation">
          <div class="explanation-left">
            <h3>サービス内容</h3>
          </div>
          <div class="explanation-right">
            <p>
              youtube動画説明<br>
              デモ動画
            </p>
          </div>
        </div>
      </div>

      <!-- 7つの習慣-app -->
      <div class="section">
        <h2>7つの習慣＆マインドマップ app</h2>
        <p>
          7つの習慣と自身のスキルセットを組み合わせた自己分析ツール<br>
          主体的に行動しWinWinな関係を築く
        </p>
        <div class="button-wrapper">
          <input class="btn demo" type="button" value="デモ" onClick="location.href='../7つの習慣-app/index.html'">
          <input class="btn install" type="button" value="インストール">
        </div>

        <p class="accordion article-title"></p>
        <div class="explanation">
          <div class="explanation-left">
            <h3>サービス内容</h3>
          </div>
          <div class="explanation-right">
            <p>
              youtube動画説明<br>
              デモ動画
            </p>
          </div>
        </div>
      </div>

      <!-- スキルセット-app -->
      <div class="section">
        <h2>スキルセット app</h2>
        <p>
          メンバー全員のプロフィールを収集し一覧でスキルセットを表示する。<br>
          全体の合計値や個人ごとに分析することでタスクを振り分ける時の指標となる。
        </p>
        <div class="button-wrapper">
          <input class="btn demo" type="button" value="デモ" onClick="location.href='../7つの習慣-app/index.html'">
          <input class="btn install" type="button" value="インストール">
        </div>

        <p class="accordion article-title"></p>
        <div class="explanation">
          <div class="explanation-left">
            <h3>サービス内容</h3>
          </div>
          <div class="explanation-right">
            <p>
              youtube動画説明<br>
              デモ動画
            </p>
          </div>
        </div>
      </div>

      <!-- lean-canvas-app -->
      <div class="section">
        <h2>LEAN CANVAS app</h2>
        <p>
          あなたのビジネスモデルを持ち運び可能な1ページの図に描きましょう。<br>
          リーンキャンバスは、ビジネスモデルのブレインストーミング・優先順位の決定・継続的学習の管理に最適なフォーマットです。
        </p>
        <div class="button-wrapper">
          <input class="btn demo" type="button" value="デモ" onClick="location.href='../lean-canvas-app ver2/index.html'">
          <input class="btn install" type="button" value="インストール">
        </div>
        <p class="accordion article-title"></p>
        <div class="explanation">
          <div class="service">
            <div class="explanation-left">
              <div class="service">
                <h3>概要</h3>
                <p>
                  input text here input text here input text here
                  input text here input text here input text here
                  input text here input text here input text here
                  input text here input text here input text here
                  input text here input text here input text here
                  input text here input text here input text here
                </p>
              </div>
            </div>
            <div class="explanation-right">
              <p>
                youtube動画説明<br>
                デモ動画
              </p>
            </div>
          </div>

          <div class="service">
            <h3>1.プランAを文書化</h3>
            <p>
              input text here input text here input text here
              input text here input text here input text here
              input text here input text here input text here
              input text here input text here input text here
              input text here input text here input text here
              input text here input text here input text here
            </p>
          </div>
        </div>
      </div>

      <!-- lmb-app -->
      <div class="section">
        <h2>LMB & BML app</h2>
        <p>仮説検証フェーズにおけるサイクルをいかに早く回すかが重要になります。<br>
          まず、LMB「Learn→Measure→Build」の順で仮説検証の計画を立て、BML「Build→Measure→Learn」の順で実行します。
        </p>
        <div class="button-wrapper">
          <input class="btn demo" type="button" value="デモ" onClick="location.href='../lmb-app/index.html'">
          <input class="btn install" type="button" value="インストール">
        </div>
        <p class="accordion article-title"></p>
        <div class="explanation">
          <div class="explanation-left">
            <h3>サービス内容</h3>
          </div>
          <div class="explanation-right">
            <p>
              youtube動画説明<br>
              デモ動画
            </p>
          </div>
        </div>
      </div>

      <!-- roadmap-app -->
      <div class="section">
        <h2>ROAD MAP app</h2>
        <p>プロジェクトの進行状況を誰もが持続的かつ全体的に把握できます。<br>
          Road mapを見ることで各自が仲間やチーム全体を意識して行動することができ、自身の立ち位置やそのタスクの意図を理解することができます。
        </p>
        <div class="button-wrapper">
          <input class="btn demo" type="button" value="デモ" onClick="location.href='../roadmap-app/index.html'">
          <input class="btn install" type="button" value="インストール">
        </div>
        <p class="accordion article-title"></p>
        <div class="explanation">
          <div class="explanation-left">
            <h3>サービス内容</h3>
          </div>
          <div class="explanation-right">
            <p>
              youtube動画説明<br>
              デモ動画
            </p>
          </div>
        </div>
      </div>

      <!-- flow-app -->
      <div class="section">
        <h2>FLOW app</h2>
        <p>
          検討中
        </p>
        <div class="button-wrapper">
          <input class="btn demo" type="button" value="デモ" onClick="location.href='../flow-app/index.html'">
          <input class="btn install" type="button" value="インストール">
        </div>

        <p class="accordion article-title"></p>
        <div class="explanation">
          <div class="explanation-left">
            <h3>サービス内容</h3>
          </div>
          <div class="explanation-right">
            <p>
              youtube動画説明<br>
              デモ動画
            </p>
          </div>
        </div>
      </div>

      <!-- search-books-app -->
      <!-- <div class="section">
        <h2>Search Books app</h2>
        <p>
          検討中
        </p>
        <div class="button-wrapper">
          <input class="btn demo" type="button" value="デモ" onClick="location.href='../search-books-app/index.html'">
          <input class="btn install" type="button" value="インストール">
        </div>

        <p class="accordion article-title"></p>
        <div class="explanation">
          <div class="explanation-left">
            <h3>サービス内容</h3>
          </div>
          <div class="explanation-right">
            <p>
              youtube動画説明<br>
              デモ動画
            </p>
          </div>
        </div>
      </div> -->
  </main>

  <footer>

  </footer>

  <!-- jsを機能させる為に必須 -->
  <script src="../../../NB-IDE/static/NB-IDE/js/script.js"></script>
</body>

</html>
